doctype html
html
	head
		title #{name} Profile View
		style(text/css).
			#btn{padding:1.4rem}
		script.
			gedit=()=>{
				let par = document.getElementById('main')
				par.innerHTML=""
				let chl=document.createElement('input')
				chl.setAttribute('type','text')
				chl.setAttribute('name','pfname')
				chl.setAttribute('id','newn')
				chl.setAttribute('placeholder','Enter new name')
				
				let phl=document.createElement('input')
				phl.setAttribute('type','password')
				phl.setAttribute('id','newp')
				phl.setAttribute('name','pss')
				phl.setAttribute('placeholder','Enter new password')
				
				let send = document.createElement('button')
				send.setAttribute('type','button')
				send.setAttribute('onclick','reset()')
				send.innerHTML='Cancel'
				par.appendChild(chl)
				par.appendChild(phl)
				par.appendChild(send)
			}
			update=()=>{
				let nn = document.getElementById('newn')
				let np = document.getElementById('newp')
				let data = {
					name:nn,
					password:np
				}
				fetch('/update',{
					method:'post',
					header:{
						'Content-type':'application/json'
					},
					body:JSON.stringify(data)
				})
				.then(response=>response.json())
				.then(cons=>{alert(cons)})
			}

	body
		div#main
			h2 #{name}
			h2 #{rg}
			h2 #{pass}
			button#edit(type="button",onclick="gedit()") Edit Profile
		
