doctype html
html
	head
		title #{name} Profile View
		style(text/css).
			#edit>input{
				padding:1rem;
				margin:1rem;
				width:20rem;
				outline:none;
				border:1px solid black;
				border-radius:1rem;
			}
			#edit{
				
				text-align:center;
			}
			#main{
				margin :auto;
				width:50%;
			}
			#main>fieldset{
				border-radius:1rem;
			}
			#main>fieldset>h1{
				text-align:center;
			}
		script.
			update=()=>{
				let nn = document.getElementById('newn')
				let np = document.getElementById('newp')
				let data = {
					name:nn,
					password:np
				}
				fetch('/update',{
					method:'post',
					header:{
						'Content-type':'application/json'
					},
					body:JSON.stringify(data)
				})
				.then(response=>response.json())
				.then(cons=>{alert(cons)})
			}

	body
		div#main
			img(src=primg)
			fieldset 
				h1 Registered Email id: #{rg}
				form(action='/update',method='post',id='edit')
					input(type='text',name='uname',value=name)
					br
					input(type='text',name='passwd',value=pass)
					br
					input(type='submit',value='Save Changes',style='background-color:#0067AA;color:white')
		
